table {
     width: auto !important;
     margin: unset !important;
}

table th, table td {
     text-align: center;
}


.mil-achieved {
     background-color: #c6efce;
     color: #327a32;
}

.mil-failed {
     background-color: #fec7ce;
     color: #990c0a;
}